button{
	transition:ease 0.3s;
}
button:hover{
	background: #ca412e!important;
	transform: scale(1.2);
	border: none;
	box-shadow: 0 1px 1px rgba(21, 127, 218,.75), 0 0 8px rgba(21,127,218,.6);
}
button::before{
	width: 50%;
	height: 50%;
}
a{
	transition: .2s;
}
a:hover{
	font-weight: 500;
	text-decoration: none!important;
}