@media only screen and (max-width:992px){
	.signup{
    position: unset!important;
	float: none !important;
    top: unset;
    right: unset;
    width: 70%!important;
    margin:0 auto 20px;
    display: block;
	padding: 0 0 15px;
  }
  .signup div{
    padding-left: 10%;
    padding-right: 10%; 
  }
  .cost{
    font-size: 20px;
  }
}
@media only screen and (min-width:768px) and (max-width:992px){
	.wrap-logo{
		font-size: 18px;
	}
	.icontop {
		width: 37px;
		height: 37px;
		padding: 8px 5px;
		margin-right: 7px;
		font-size: 18px;
	}
	.contact-block{
		width: 145px;
	}
	.cart-block {
		width: auto;
	}
	.search-bar{
	width: 27%;
	float: right;
	height: 40px;
	margin: 10px 0px 10px 0;
	}
}

@media only screen and (min-width:768px){

	.navbar{
		margin-bottom: 0!important;
	}
	.navbar-nav>li{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.contact{
		padding: 20px 0px;
	}
	.actived{
		background-color: #ca412e;
		box-shadow: 5px 5px 0 0px #fff;
		margin-right: 5px;
}
	.navbar-nav li:hover{
		background-color: #ca412e;
		box-shadow: 5px 5px 0 0px #fff;
		transition: all 0.5s ease;
	}
	.navbar-inverse .navbar-nav>li>a:hover{
		color: #fff!important;
	}
	.search-collapse{
		display: none;
	}
	.search-expand{
		display: block;
	}
	.wrap-logo{
		margin: 0 15px 0 0;
	}
	.sidebar{
		width: 25%;
		float: left;
		padding-top: 40px;
	}
	.content{
		width: 75%;
		float: left;
	}
	.flex{
		display: block;
	}
}
@media only screen and (min-width:768px) and (max-width:900px){
	.block{
		margin: 0 0 7px 0 !important;
	}
	h4{
		font-size: 14px !important;
	}
}

@media only screen and (max-width: 768px )   {
	
	.navbar-toggle{
		float: left!important;
		margin-left: 15px!important;
    	margin-top: 13px!important;
    	margin-bottom: 13px!important;
	}
	input[type=search]{
		min-width: 100px;
	}
	.search-bar input:focus{
		width: 200%;
	}
	.navbar-inverse .navbar-toggle{
		border-color: #fff!important;
	}
	.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
		background-color: transparent!important;
	}
	.mail-title, .mail-title2{
		display: none;
	}
	.contact-block{
		width: 73px;
	}
	.cart-block{
		width: auto!important;
	}
	.icontop{
		width: 35px;
		height: 35px;
		padding: 5px 6px;
	}
	.language{
		padding-right: 15px;
	}
	.navbar{
		margin-bottom: 0!important;
	}
	.lion{
		background-position: center;
	}
	.block{
		margin: 0 15px 30px;
	}
	
}

@media only screen and (max-width:575px){
	.blocks{
		display: none;
	}
	.blocks-collapse{
		display: block;
	}
}

@media only screen and (max-width:500px){
	.lion{
		height: 185px;
	}
	.col-xs-11{
		width: 87%!important;
	}
}

@media only screen and (max-width:365px){
	.logo {
   		max-height: 45px;
	}
	.wrap-logo{
		font-size: 15px;
		margin: 7px;
	}
	.lion{
		height: 145px;
	}
	.language{
		height: 65px;
	}
	.flag{
		clear: right;
	}
	.blocks-collapse{
		height: 25px;
		position: relative;
		top: 20px;
	}
	.col-xs-11{
		width: 82%!important;
	}
}
