*{
	margin: 0;
	padding: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	box-sizing: border-box;
}
body{
	background-color: #f2f3f5;
}

.container{
	min-width: 90%;
	padding-left: 0px!important;
	padding-right: 0px!important;
}
.blocks-collapse{
	float: left;
	margin-left: 15px;
	display: none;
}
.icontop-collapse{
	float: right;
    background-image: linear-gradient(to bottom right, #157fda, #2e917d);
    width: 25px;
    height: 25px;
    padding: 3px 5px;
    margin-right: 15px;
    color: #fff;
    font-size: 14px;
    transition: ease all 1s;
	border-radius: 13px;
}
.wrap-content{
	background-color: #f2f3f5;
}
.contact-header{
	padding-top: 35px;
}
.flag{
	margin-right: 10px;
}
.language{
	padding: 10px 0;
	background-color: #f5f5f5;
}
.flag-icon{
	width: 20px;
	margin: 2px;
}
.flag, .signin{
	float: right;
}
.signin a{
	color: #222222;
}
.wrap-logo{
	float: left;
	font-size: 20px;
	font-weight: 700;
    margin: 15px 0 15px 15px;
}
.logo{
	max-height: 60px;
}
.contact-block{
	float: right;
	margin-top: 17px;
	width: 185px;
}
.cart-img, .mail-img{
	height: 50px;
	float: left;
	margin-right: 20px;
}
.icontop{
	float: left;
    background-image: linear-gradient(to bottom right, #157fda, #2e917d);
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: normal;
    padding: 10px 12px;
    margin-right: 15px;
    color: #fff;
    font-size: 18px;
    transition: ease all 0.4s;
}
.icontop:hover{
	border-radius: 23px;
	transition: all 0.4s ease;
}
.phone-title, .mail-title{
	font-size: 15px;
	font-weight: 700;
}
.phone-title2, .mail-title2{
	font-size: 12px;
	font-weight: 400;
}
.cart-block{
	width: auto;
}
.cart{
	float: left
}
.link-cart{
	color: #000;
}
.contact-title{
	font-size: 16px;
	font-weight: 700;
}
.nav-header{
	width: 100%;
	z-index: 10;
}
#fixed{
	z-index: 10;
}
.sticky {
  	position: fixed!important;
  	top: 0;
  	width: 100%;
}
.navbar.navbar-inverse{
	background-color: #157fda !important;
	border: 0px #fff !important;
	border-radius: 0px;
	box-shadow: 0 20px 40px -27px #000;
}
.navbar-inverse .navbar-nav>li>a{
	color: #fff!important;
	font-weight: 500;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #000!important;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
	margin: 0!important;
}
.navbar-collapse{
	border-color: #157fda!important;
	box-shadow: unset!important;
}
.header-line{
	padding-top: 90px;
	padding-bottom: 60px;
	background-color: #172333;
	color: white;
	font-size: 35px;
	text-align: center;
	font-weight: 500;
}
.collapse.navbar-collapse{
	max-width: 550px;
	float: left;
}
.search-bar{
	width: 30%;
	float: right;
	height: 40px;
	margin: 10px 30px 10px 0;
}
.search-expand{
	display: none;
}
input[type=search] {
	background: #fff url(../images/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 34px;
	width: 60%;
	float: right; 
	height: 40px;
	font-size: 14px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.search-bar input:focus{
	width: 100%;
	outline: 0;
}
.input-group-btn{
	width: 40px;
	height: 40px;
	float: right;
}
.btn-group-lg>.btn, .btn-lg{
	height: 40px;
	padding: 0 0;
	border-top-left-radius: 0px!important;
	border-bottom-left-radius: 0px!important;
	border-bottom-right-radius: 20px!important;
	border-top-right-radius: 20px!important;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}

.btn-info{
	color: black!important;
	background-color: white!important;
	border-color: white!important;
}

.sidebar{
	width: 100%;
	float: left;
	padding-top: 40px;
}
.content{
	width: 100%;
	float: left;
}
.cont{
	background-color: #fff;
	margin: 40px 15px;
	position: relative;
	padding-bottom: 50px;
}
.flex{
	display: flex;
	flex-direction: column-reverse;
}
.cont *{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif!important;
}
.block{
	background: #fff;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 30px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 14px;
}
.block-content{
	padding: 10px;
}
.block-content ul{
	list-style-type: none;
}
.block-content ul li{
	padding-bottom: 5px;
}
.block-content ul li p svg{
	margin-right: 8px;
	color: #ec4933;
}
.block-content ul li a{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	color: #022e53;
}

.shadow {
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1), 0 2px 4px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1), 0 2px 4px 0 rgba(0,0,0,0.12);
    border-radius: 2px;
}
h4{
	color: #fff!important;
	font-size: 16px!important;
	padding: 20px 10px;
	margin: 0!important;
	border-bottom: solid 1px #ccc;
	background: #ca412e;
}
.new-vids{
	width: 95%!important;
	margin: 0 auto;
	display: block;
}

.footer{
	clear: both;
	background-color: #00527b;
	color: white;
	min-height: 300px;
}
#video-footer{
	width: 95%;
	display: block;
	margin: 0 auto;
}
.row2-footer{
	height: 80px;
	background-color: #003c5a;
	text-align: center;
	color: #fff;
	align-items: center;
	justify-content: center;
	display: flex;
}
.iconfooter{
	float: left;
    background: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: normal;
    padding: 6px 5px;
    margin-right: 15px;
    color: #157fda;
    font-size: 18px;
    transition: ease all 1s;
	border-radius: 25px;
	clear: left;
}
.about{
	color: #fff!important;
	font-size: 18px!important;
	font-weight: 900!important;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif!important;
	padding: 20px 10px;
	margin: 0!important;
	border-bottom: solid 1px #ccc;
	background-color: unset;
}
.info{
	min-height: 40px;
	margin: 5px 0;
	display: flex;
	align-items: center;
}
.r1{
	margin-top: 15px;
}
.info span{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif!important;
}
.small{
	width: 76%;
	text-align: justify;
}
.social{
	color: white;
}
.social:hover{
	color: #ec4933;
	transition: all 0.4s ease;
}
#title{
	color: blue;
	font-size: 15px;
	padding: 20px 15px 0;
}
#big-title{
	color: #C7202d;
	font-size: 22px;
	padding: 0 15px 20px;
}
.lion{
	width: 100%;
	height: 280px;
	background-image: url(../images/Picture1.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}
.lion:after{
	clear: both;
	content: ".";
	visibility: hidden;
}
.signup{
	border:  solid 1px;
	border-radius: 8px;
	width: 220px!important;
	position: absolute!important;
	top: 95px;
	right: 15px;
	font-size: 13px;
	background-color: white;
	padding: 0 15px 15px;
}
.navbar-collapse{
	border: none!important;
}
.cost{
	font-size: 16px;
	color: blue;
}
.signup-btn{
	height: 30px;
	width: 80%;
	margin: 10px auto 0;
	display: block;
	background: #c0504d;
	border-radius: 5px;
	border: solid 1px black;
	color: white;
}
.list{
	color: #C7202d;
	margin-top: 10px;
}
.list p{
	margin: 0px;
}
.content-tags{
	background-color: #0089ef;
	height: 40px;
	clear: both;
	color: white;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	border: solid 1px #4f81bd;
	margin: 20px auto;
}
.content-tags:after{
	clear: both;
	content: ".";
	visibility: hidden;

}
.content-info{
	padding-left: 15px;
	padding-right: 15px;
}
.bold-content{
	font-size: 18px;
	font-weight: 700;
	margin: 15px auto;
}
.content-table, .content-table tr, .content-table td{
	border: solid 1px;
	padding: 6px;
}
.content-table td:nth-child(2), .content-table td:nth-child(3){
	width: 100px;
	text-align: center;
}

.object{
 	margin: 15px;
 }
.wrap-voice{
	display: block;
	margin: auto;
}
 .voice{
 	border: solid 1px;
 	border-radius: 10px;
 	margin: 5px 0 5px 30px;
 	height: auto;
 }

 .avatar{
 	float: left;
 	margin-right: 15px;
 }
 .row-info{
 	margin: 30px auto;
 }
 .row-info div p{
 	padding: 15px 0;
 }
 .under-table:after{
	clear: both;
	content: ".";
	visibility: hidden;
 }
.signup-contact{
	border: solid 1px;
	border-radius: 10px;
	width: 70%;
	display: block;
	margin: 0 auto 20px; ;
	padding: 15px;
}
.bt{
	width: 80%;
	height: 40px;
	margin-top: 15px;
	border: solid 1px ;
	border-radius: 8px;
	color: white;
}
.mobile, .small-mobile, .large{
	display: none;
}

.video-intro{
	width: 100%;
}